/* * {
  margin : 0;
  padding :0;
  box-sizing : border-box;
  font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color : rgb(225, 225, 225);
}
html,
body {
  height : 100%;
  width : 100%;
  background-color: rgb(22, 17, 17);
}
.card {
  width : 400px;
  border: 1px solid white;
  padding : 20px;
  margin: 20px;
  text-align: center;
  background-color: #333;
  border-radius: 10px;
}
.parent {
  padding: 20px;
  display : flex;
  flex-wrap:wrap ;
  gap: 20px;
   
}
.card button {
  padding : 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  
}
.card p {
  margin : 20px 0;
}
.card img{
  height :140px;
  width : 140px;
  object-fit: cover;
 border-radius: 50%;
} */



/* cards project */

* {
  margin : 0;
  padding :0;
  box-sizing : border-box;
  font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,
body , #root{
  height : 100%;
  width : 100%;
}
.parent {
  min-height: 100%;
  width : 100%;
  background-color: #111010;
  padding: 30px;
  display :flex;
  gap :30px;
  flex-wrap: wrap;
}
.card {
  height : 330px;
  width : 280px;
  background-color: #fff;
  border-radius: 30px;
 padding :15px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;

 
}

.card .top {
  display :flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  
}
.top img{
  height :50px;
  width :50px;
  border-radius: 50%;
  border : 1px solid #dadada;
  object-fit: cover;
}
.top button{
  display: flex;
  align-items: center;
  border : 1px solid #dadada;
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent ;
  color: #b1b1b1;
}
.center {
  font-size: 17px;
  font-weight: 500;
}
.center h3 span {
  font-size: 9px;
  font-weight: 400;
  color : #8b8b8b;
}

.center h2 {
  font-size: 20px;
}

.center .tag {
   display :flex;
   margin-top: 10px;
   gap: 5px;
}

.center .tag h4 {
  font-size: 12px;
  background-color: #dadada;
  color :#111;
  font-weight: 500;
  padding: 3px 6px;
}

.bottom {
  display : flex;
  align-items: center;
  justify-content: space-between;
  border-top : 1px solid hwb(0 69% 31%);
  padding-top: 15px;
}
.bottom button {
  background-color: black;
  color : white;
  padding : 5px 10px;
  border : none;
  border-radius: 5px;
}

